.loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #000000;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}
  .fixed-div {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      -webkit-box-shadow: 0px 0px 50px 40px rgba(0,0,0,0.50); 
      box-shadow: 0px 0px 50px 100vw rgba(0,0,0,0.50);
      z-index: 9999;
      max-height: 95vh;
  }

  .imgOverflow{
    max-height: 18rem; 
    overflow: hidden;
    text-align: center;
    max-width:90%;
    justify-content: center;
    
  }
  img{
    max-height: 15rem;
    max-width:85vw;
     
    }
.card-text-scroll {
      max-height: 20vh;
      overflow-y: scroll;
         }


  @media print {
    body * {
      visibility: hidden;
    }
    #infoPersona, #infoPersona * {
      visibility: visible;
    }
    #infoPersona {
      position: absolute;
      left: 0;
      top: 0;
    }
  }